<div 
class="containor">
    <div 
    class="jumbotron">
      <h1 
      class="text-center">Authentication</h1>
    </div>
    <form>
      <div 
      class="form-group">
        
        <input type="text" 
        name="user" 
        class="form-control" 
        id="user" #user="ngModel" 
        [(ngModel)]="usercheck.username" 
        placeholder="Username">
      
      </div>
      <div 
      class="form-group">
        
       <input type="password" 
       class="form-control" 
       name="upw" id="upw" #upw="ngModel" 
       [(ngModel)]="usercheck.userpw" placeholder="Password">
        
      </div><br>
      <div>
        <button type="btn" 
        class=" btn btn-primary" 
        value="login" (click)="check()">Login</button>
        <button type="btn" 
        class="btn btn-success" 
        value="signup" 
        (click)="openModal(SignUpBlock)">Sign Up</button>
      </div>
    </form>
  </div>
  <ng-template #SignUpBlock>
    <div class="modal-header">
        <h4 
        class="modal-title pull-left text-info text-center">
        Sign Up</h4>
        <button type="button" 
        class="close pull-right" 
        aria-label="close" (click)="modalRef.hide()">
            <span 
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form #myForm="ngForm" 
      (ngSubmit)="adduser()" 
      name="myForm">              
        <div class="form-group">
          
          <input [(ngModel)]="userdata.name" 
          class="form-control" #username="ngModel" 
          name="username" placeholder="Username" 
          type="text" minlength="3" required>
          <div *ngIf="username.errors">
            <small [style.color]="'red'" 
            *ngIf="username.errors.required && username.touched">
            Name is required</small>
            <small [style.color]="'red'" 
            *ngIf="username.errors.minlength && username.touched">
            mininum 3 charactors are required</small>
          </div>
        </div>
        <div class="form-group">
          
          <input [(ngModel)]="userdata.password" 
          class="form-control" #pw="ngModel" name="password" 
          placeholder="password" type="password" minlength="6" required>
          <div *ngIf="pw.errors">
            <small [style.color]="red" 
            *ngIf="pw.errors.required && pw.touched">
            enter strong password</small>
            <small [style.color]="red" 
            *ngIf="pw.errors.minlength && pw.touched">
            enter valid password</small>
          </div>
        </div>
        <button class=" btn btn-info btn-center" 
        [disabled]="!myForm.valid">Sign Up</button>
      </form>              
    </div>
  </ng-template>