<h1 style="text-align:center;background-color:grey;padding:0%;margin:0%">Navam</h1>
<nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/games">Games</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>