.selected{
    text-align: center;
    color:blue;
    background-color: aquamarine;
    
  }
  .initial{
    text-align: center;
    color:orange;
    background-color: bisque;
  }
  h1{
    color:grey;
  background-color: antiquewhite;
  }
  .container div{
    height: 30%;
    width: 30%;
    display: inline-block;
  }
  ul{
    list-style: none;
    font-size: 20px;
    color: #686868;
    margin-left: -40px;
    margin-bottom: 0px;
  }
  li{
    border-bottom: 1px solid #bfbfbf;
    background-color: #d7d7d7;
    padding: 10px 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  