<h1 style="text-align:center">Select game</h1>
<h3 [ngClass]="{'initial':!selectedGame,'selected':selectedGame}">Selected Game:{{selectedGame?selectedGame:'----'}}</h3>;

<div *ngIf="!showList" class="container">
  <div class="row">
      <div *ngFor="let game of GamesArray" class="col-md-4">
          <img [src]="game.ImageSrc" width="100%" height="100%" alt="lights" (click)="selectedGame = game.GameName; players = game.PlayersList; showList = true;"><div class="caption text-center bg-info text-black">{{game.GameName}}</div>
          
        </div>
      
  </div>
</div>
<div *ngIf="showList" class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>$ Players list</th>
      
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let player of players">
        <td>{{player}}</td>
      </tr>

    </tbody>
  </table>
  <button (click)="showList = false; selectedGame = '';">Back</button>
</div>